<h2>Click on a category:</h2>
<div id="cats" (click)="getCatQuestion(categories[0]?.id)">{{categories[0]?.title | titlecase}}</div>
<div id="cats" (click)="getCatQuestion(categories[1]?.id)">{{categories[1]?.title | titlecase}}</div>
<div id="cats" (click)="getCatQuestion(categories[2]?.id)">{{categories[2]?.title | titlecase}}</div>

<div [ngClass]="question?'visible':'hidden'" >
<h3>Here is your question worth {{question?.value}} points:</h3>
<div>{{question?.question}}</div>
  <br>
  <input id="guess" [(ngModel)]='userAnswer'>
  <br>
  <button id="submit" style="vertical-align:middle" (click)='checkAnswer()'><span>Submit</span></button>
</div>

<app-score [score]='rollingScore'></app-score>
